
body{
	font-family: "Avenir Next";
}

*{
	margin: 0;
	padding: 0;
}

#header-background {
	background-color: blue;
	height: 5px;
}

#header-logo{
    position: absolute;
	padding: 15px 0 0 200px;
	width: 720px;
	float: left;
}

#header-function{
    position: absolute;
	padding: 22px 40px 0px 930px;
	font-size: 13px;
	color: blue;
}

#header-function li {
	list-style: none;
	float: left;
	padding: 0px 20px;
	background: url(https://www.ksknet.co.jp/img/arrow.png) no-repeat left center;
}

#header-list {
    position: absolute;
    padding: 50px 0 0 0;
}

#header-list li {
	list-style: none;
	text-align: center;
	float:left;
	padding: 10px 30px 10px;
	border: 1px solid gray;
}

#ul1 {
	padding: 50px 0 0 200px
}

#img_1{
    position: absolute;
    padding: 160px 0 100px 0;
	width: 100%;
	height: 300px;
}

#index_main_cont {
    margin: 0 auto;
    padding: 40px 0 0;
    width: 950px;
    overflow: hidden;
}