@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Avenir Next";
}
a{
	text-decoration: none;
}
ul, li{
	list-style: none;
}


#header-background {
	background-color: #1c76bc;
	height: 5px;
}
#header{
	display: flex;
	width: 950px;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-top: 15px;
	height: 29px;
}
#header-logo{
}

#header-function{
	font-size: 13px;
	color: blue;
}

#header-function ul{
	display: flex;
	height: 100%;
}

#header-function li {
	line-height: 29px;
	padding: 0px 20px;
	background: url(https://www.ksknet.co.jp/img/arrow.png) no-repeat left center;
}

#header-list {
   	width: 100%;
    background-color: #f5f5f5;
}
#header-list ul{
	margin: 0 auto;
	width: 950px;
	height: 60px;
	display: flex;
}

#header-list li {
	text-align: center;
	line-height: 60px;
	width: calc(100% / 4);
	border: 1px solid gray;
}
#header-list li a{
	display: block;
	height: 100%;
	width: 100%;
	transition: all 0.5s ease;
}
#header-list li a:hover{
	color: #000;
	background-color: gray;
}

#img_1{
	width: 100%;
	height: 300px;
}

#index_main_cont {
    margin: 0 auto;
    padding: 40px 0 0;
    width: 950px;
    overflow: hidden;
}

#service_list img{
	height: 166px;
	width: 228px;
}

#index_main_cont ul{
	display: flex;
	flex-wrap: wrap;

}
#service_list li{
	height: 304px;
	width: 228px;
	padding: 3px;
}
#books h2{
	font-size: 100%; 
}
#service_list li .service_info{
	font-size: 90%;
}

#cont_left{
	float: left;
	width: 712px;
	margin: 0 0 15px 0;
}
#cont_left a{
	line-height: 29px;
}

#release{
	border: solid 1px #ccc;
	margin: 0 auto 15px auto;
	padding: 10px;
}
#release h2{
    display: inline-block;
}
/*一覧.お知らせ矢印*/
.itiran{
	width: auto; 
    float: right;
    text-align: right;
    background: url(https://www.ksknet.co.jp/img/arrow.png) no-repeat left center;
    padding: 0px 20px;
}
#release_area{
	border-top: solid 1px #ccc;
}
#release dl{}
#release dt{
	display: inline-block;	
}
#release dd{
	margin-top: -23px;
	padding-left: 9em;
}

#news_cont{
	border: solid 1px #ccc;
	padding: 10px 0 0 10px;
}
#news_cont h2{
    display: inline-block;
}
#news_window dt{
	display: inline-block;	
}
#news_window dd{
	margin-top: -23px;
	padding-left: 9em;
}
#news_window{
	border-top: solid 1px #ccc;
}

#cont_right {
	float: right;
	display: inline-block;
	/*vertical-align: middle;*/
}
#cont_right .btn{
	margin: 0 0 10px;
	border: 1px solid #ccc;
	vertical-align: middle;
}
#cont_right a{
	width: 220px;
	height: 54px;
}
#cont_right .btn img{
	vertical-align: middle;
}

#footer_pagetop{
	margin: 35px auto 0;
	width: 950px;
	text-align: right;
	text-decoration: underline;
}

#footer{
	background-color: #1c76bc;
	color: white;
	margin-top: 30px;
	padding: 10px 0;
}
#footer_cont{
	margin: 0 auto;
	padding-bottom: 10px;
	width: 950px;
}
#footer_list{
	text-align: center;
}
#footer_list li{
	display: inline-block;
	margin-right: 15px;
}
#footer_list a{
	padding-left: 20px;
	background: url(https://www.ksknet.co.jp/img/arrow.png) no-repeat left center;
	color: #fff;
}

#copyright{
	text-align:center;
	border-top: solid 1px #ccc;
}